*{

  margin:0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
  
/* GRIDGLOBAL (este es el grid que estructura toda la pagina) LA MEDIA QUERY ESTA AL FIAL DEL ARCHIVO*/
body {
background-color: #fff;

background: radial-gradient(circle, #fff 6%, rgb(208, 221, 231) 90%);
font-family: "Montserrat", sans-serif;
}


.bodyAsContainer{
  
  display: grid;
  grid-template-columns: 1fr auto ;
  grid-template-rows: auto 1fr ;
  grid-template-areas:
  "nav nav"
  "main main"
  "footer footer" ;
}

header{
  grid-area: header;
  
}

nav{
  grid-area: nav;
  margin-bottom: 2%;
 
  background-color: black;
  color: white;
 

}

main{
  grid-area:main;
  animation-name: animationSection;
animation-duration: 2.5s;
animation-iteration-count: 1;
  
}
footer{
  grid-area: footer;
  background-color: black;
  
  width: 100%;
  margin-top: 20%;
  
  color: white;
  
  
  
  
}





section{

  box-sizing: border-box;
}
img{

  
  height: 300px;
  object-fit: cover ;
}

p{
  text-align: justify;
  text-justify: inter-word;
}


@keyframes animationSection{

  0% {
   opacity: 0;
  }
  100%{
   opacity: 100%;
  }
 
 }

 form{
  animation-name: animationSection;
animation-duration: 2s;
animation-iteration-count: 1;
 }