
 @import "variables";
 
 footer {
    grid-area: footer;
    background-color: $genericB;
    width: $fullP;
    height: $fullPx;
    bottom: 0;
    margin-top: 5%;
    min-height: 50px;
    max-height: $fullPx;
    color: white;
    clear:both;
  }