
 nav {
   grid-area: nav;
   margin-bottom: 0%;
   
    
   background-color: $genericB;
   color: white;
  }
  .navContainer{

    
    position: sticky;
    z-index: 1;
    top: 0;
    bottom: 0 ;





  }
  
  .NavLabel{
  
    background-color: aliceblue;

  }
  
  .navbar-brand{
    color:black;
    margin-left: 10%;
  }
  
  .container {
    margin-top: 10px;
}



.menuicon{
  color: black;
  
}


 

@media (max-width: 1000px){
ul{
  display: flex;
  flex-direction: column;

}
.navContainer{

    
  position:static;
  
  top: 0;

}


}









